<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <remove value="iisstart.htm" />
                <remove value="Default.htm" />
                <remove value="Default.asp" />
                <remove value="default.aspx" />
                
            </files>
        </defaultDocument>
    </system.webServer>
    <system.web>
        <customErrors defaultRedirect="index.html" mode="On">
            <error redirect="/index.html" statusCode="404" />
        </customErrors>
    </system.web>
</configuration>
