<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.html" />
                <add value="index.htm" />
                
            </files>
        </defaultDocument>
    </system.webServer>
    <system.web>
		<urlMappings enabled="true">
  <clear />
  <add url="~/index" mappedUrl="~/index.html" />
  <add url="~/" mappedUrl="~/index.html" />
</urlMappings>
    </system.web>

</configuration>
