  <div style="display: block">
    <canvas baseChart
            [datasets]="model.BarChartData"
            [labels]="model.BarChartLabels"
            [options]="model.BarChartOptions"
            [legend]="model.BarChartLegend"
            [chartType]="model.ChartType"
            [colors]="model.colors" 
            (chartClick)="chartClicked($event)"></canvas>
  </div>
<div *ngIf="isParent">
<modal cssClass="modal-xl" #barChartModal>
<bar-chart [model]="model">Loading....</bar-chart>
</modal>
</div>