<!-- Page Content -->
    <!-- Page Breadcrumb -->
    <div class="page-breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="#">Home</a>
            </li>
            <li class="active">Dashboard</li>
        </ul>
    </div>
    <!-- /Page Breadcrumb -->
    <!-- Page Header -->
    <div class="page-header position-relative">
        <div class="header-title">
            <h1>
                Dashboard
            </h1>
        </div>
        <!--Header Buttons-->
        <div class="header-buttons">
            <a class="sidebar-toggler" href="#">
                <i class="fa fa-arrows-h"></i>
            </a>
            <a class="refresh" id="refresh-toggler" href="#">
                <i class="glyphicon glyphicon-refresh"></i>
            </a>
            <a class="fullscreen" id="fullscreen-toggler" href="#">
                <i class="glyphicon glyphicon-fullscreen"></i>
            </a>
        </div>
        <!--Header Buttons End-->
    </div>
    <!-- /Page Header -->
    <!-- Page Body -->
    <div class="page-body">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <doughnut-chart [model]="devStatus">Loading....</doughnut-chart>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <doughnut-chart [model]="testingStatus">Loading....</doughnut-chart>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <doughnut-chart [model]="refinementStatus">Loading....</doughnut-chart>
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                <div class="row">
                    <recentactions>Loading...</recentactions>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="orders-container">
                    <div class="orders-header">
                        <h6>Recent Comments</h6>
                    </div>
                    <ul class="orders-list">
                        <li class="order-item">
                            <div class="row">
                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 item-left">
                                    <div class="item-booker">Ned Stards</div>
                                    <div class="item-time">
                                        <i class="fa fa-calendar"></i>
                                        <span>10 minutes ago</span>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 item-right">
                                    <div class="item-price">
                                        <span class="currency">$</span>
                                        <span class="price">400</span>
                                    </div>
                                </div>
                            </div>
                            <a class="item-more" href="#">
                                <i></i>
                            </a>
                        </li>
                        <li class="order-item top">
                            <div class="row">
                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 item-left">
                                    <div class="item-booker">Steve Lewis</div>
                                    <div class="item-time">
                                        <i class="fa fa-calendar"></i>
                                        <span>2 hours ago</span>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 item-right">
                                    <div class="item-price">
                                        <span class="currency">$</span>
                                        <span class="price">620</span>
                                    </div>
                                </div>
                            </div>
                            <a class="item-more" href="#">
                                <i></i>
                            </a>
                        </li>
                        <li class="order-item">
                            <div class="row">
                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 item-left">
                                    <div class="item-booker">John Ford</div>
                                    <div class="item-time">
                                        <i class="fa fa-calendar"></i>
                                        <span>Today 8th July</span>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 item-right">
                                    <div class="item-price">
                                        <span class="currency">$</span>
                                        <span class="price">220</span>
                                    </div>
                                </div>
                            </div>
                            <a class="item-more" href="#">
                                <i></i>
                            </a>
                        </li>
                        <li class="order-item">
                            <div class="row">
                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 item-left">
                                    <div class="item-booker">Kim Basinger</div>
                                    <div class="item-time">
                                        <i class="fa fa-calendar"></i>
                                        <span>Yesterday 7th July</span>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 item-right">
                                    <div class="item-price">
                                        <span class="currency">$</span>
                                        <span class="price">400</span>
                                    </div>
                                </div>
                            </div>
                            <a class="item-more" href="#">
                                <i></i>
                            </a>
                        </li>
                        <li class="order-item">
                            <div class="row">
                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 item-left">
                                    <div class="item-booker">Steve Lewis</div>
                                    <div class="item-time">
                                        <i class="fa fa-calendar"></i>
                                        <span>5th July</span>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 item-right">
                                    <div class="item-price">
                                        <span class="currency">$</span>
                                        <span class="price">340</span>
                                    </div>
                                </div>
                            </div>
                            <a class="item-more" href="#">
                                <i></i>
                            </a>
                        </li>
                    </ul>
                    <div class="orders-footer">
                        <a class="show-all" href="#"><i class="fa fa-angle-down"></i> Show All</a>
                        <div class="help">
                            <a href="#"><i class="fa fa-question"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Page Body -->
    </div>
    <!-- /Page Content -->